<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
</head>
<body>
    <h1>Register</h1>
    <form method="post" action="/register">
        <input type="text" name="username" placeholder="Username"><br>
        <input type="password" name="password" placeholder="Password"><br>
        <input type="text" name="email" placeholder="Email"><br>
        <input type="text" name="phone" placeholder="Phone"><br>
        <input type="submit" value="Register">
    </form>
</body>
</html>